/* Main header container */
.header {
  box-sizing: content-box;
  background: var(--background);
  border-block-start: 10px solid var(--primary-color);
  border-block-end: 1px solid var(--gray-lighter);
  box-shadow: 0 2px 10px var(--gray-light);
  position: sticky;
  inset-block-start: 0;
  height: var(--spacer);
  padding-inline: var(--spacer-small);

  font-family: var(--font-body);
  font-size: var(--font-size-medium);
  color: var(--text-color);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

/* Inner header container */
.header__inner {
  display: flex;
  justify-content: space-between;
  margin: auto;

  font-family: var(--font-body);
  font-size: var(--font-size-medium);
  font-weight: 400;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

.nav {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  gap: 20px;

  font-family: var(--font-body);
  font-size: var(--font-size-small);
  color: var(--text-color);
}

/* List item */
.navItem {
  display: grid;
  place-items: center;
  margin: 0;

  font-family: var(--font-body);
  font-size: var(--font-size-small);
  color: var(--text-color);

  -webkit-font-smoothing: antialiased;
}

/* Hamburger button */
.hamburger svg > *:nth-child(1),
.hamburger svg > *:nth-child(2),
.hamburger svg > *:nth-child(3) {
  transform-origin: center;
  transform: rotate(0deg);
}

.hamburger svg > *:nth-child(1) {
  transition: y 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), opacity 0.1s ease-in;
}

.hamburger svg > *:nth-child(2) {
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger svg > *:nth-child(3) {
  transition: y 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    width 0.1s 0.25s ease-in;
}

.hamburger.active svg > *:nth-child(1) {
  opacity: 0;
  y: 9;
  transform: rotate(225deg);
  transition: y 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.1s 0.12s ease-out;
}

.hamburger.active svg > *:nth-child(2) {
  transform: rotate(225deg);
  transition: transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger.active svg > *:nth-child(3) {
  y: 9;
  transform: rotate(135deg);
  transition: y 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),
    width 0.1s ease-out;
}
