.section {
    position: relative;
}

.featureBox {
    max-width: var(--maxWidth);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.contentWrapper {
    padding-top: 4rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgb(30, 41, 59);
}

@media (min-width: 768px) {
    .contentWrapper {
        padding-top: 8rem;
        padding-bottom: 5rem;
    }
}

.header {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 3rem;
}

@media (min-width: 768px) {
    .header {
        padding-bottom: 5rem;
    }
}

.title {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, rgba(226, 232, 240, 0.6), rgb(226, 232, 240), rgba(226, 232, 240, 0.6));
    padding-bottom: 1rem;
    font-weight: 600; /* Missing from Tailwind's font-semibold */
}

.description {
    font-size: 1.125rem;
    color: rgb(148, 163, 184);
}

.imageContainer {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
}

.imageWrapper {
    position: relative;
    height: 100%;
    background-color: rgb(15, 23, 42);
    border-radius: inherit;
    z-index: 20;
    overflow: hidden;
}

.radialGradient {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    pointer-events: none;
    z-index: -10;
    width: 50%;
    aspect-ratio: 1;
}

.gradientCircle {
    position: absolute;
    inset: 0;
    transform: translateZ(0);
    background-color: rgb(168, 85, 247);
    border-radius: 9999px;
    filter: blur(120px);

}

.h2 {
    font-size: 2.25rem; /* text-4xl */
    line-height: 2.5rem;

    @media (min-width: 768px) {
        font-size: 3rem; /* text-5xl */
        line-height: 1;
    }
}
