1.
   - .reset {
         background: none;
         border: none;
         padding: 0;
     }

     .core {
         --button-padding: 6px;
         padding: var(--button-padding);
         border: 2px dashed magenta;
     }

     #myIdStyle {
         color: white;
         background-color: black;
         cursor:pointer;
     }

     #myIdStyle:hover {
         color: black;
         background-color: white;
     }
